

body{
   margin-top: 0;
}
header{
    background: #b0d1af; 
    width: 100%;
    height: 15vh;
    text-align: center;
    float: left;
}
nav{
    background: #6abd64;
    width: 100%;
    height:10vh;
    text-align: center;
    float: left;
    
}

.box1{
    background: #5a92d7;
    position: relative;
    width: 20%;
    height:60vh;
    
    text-align: center;
    float: left;
}
.content{
    background: #96b4d9;
    width: 60%;
    position: relative;
    
    height:60vh;   
    text-align: center;
    float: left;
}
.box2{
    background: #5a92d7;
    width: 20%;
    position: relative;
    height: 60vh;
    
    float: left;
    text-align: center
}
footer{
    background: #b0d1af; 
    width: 100%;
    position: relative;
    height: 20vh;
    text-align: center;
    float: left;
    
}